@use 'variables/mixins' as *;
@use 'variables/vars' as *;

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    height: 50px;
}