@use 'variables/mixins' as *;
@use 'variables/vars' as *;

.gallery{
    @include contenedor;

    h1{
        font-size: 8rem;
        margin: 0 0 4rem 0;
        text-align: center;
    }

    .galeria-imagenes{
        @include grid(1, 2rem);

        @include telefono{
            @include grid(2, 2rem);
        }

        @include tablet{
            @include grid(3, 2rem);
        }

        @include desktop{
            @include grid(4, 2rem);
        }


        img{
            max-width: 40rem;
            height: 30rem;
            object-fit: cover;
            border: 2px solid black;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}

.modal{
    position: fixed;
    background-color: rgba(black, 0.5);
    inset: 0;
    display: grid;
    place-items: center;

    animation:fade-in 0.5s ease;

    &.fade-out{
        animation: fade-out 0.5s ease;
    }

    img{
        max-width: 80vw;
        min-height: 40rem;
        object-fit: cover;
        width: 100%;
        

        @include desktop{
            max-width: 90rem;
            max-height: 80rem;
        }
    }
}

.cerrarModal{
    outline: none;
    width: 4rem;
    height: 4rem;
    border: none;
    display: grid;
    place-items: center ;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 1rem 1.2rem;
    margin: 1rem 0;
    border-radius: 12px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}