@use 'variables/vars' as *;
@use 'variables/mixins' as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .logo{
        font-size: 2.6rem;
        cursor: pointer;
        margin: 1rem;
        font-weight: 700;
    }

    .links{
        margin: 2rem 2rem;
        .link{
            margin: 1rem;
            color: black;
            transition: all 0.2s ease;
            &:hover{
                color: green;
            }
        }

        .kissme{
            color: #fff;
            background-color: green;
            padding: 1rem 2rem;
            border-radius: 10px;
            &:hover{
                color: rgb(251, 255, 251);
                background-color: #25c2b0;
            }
        }
    }

}