@use 'variables/vars' as *;
@use 'variables/mixins' as *;

.lastSection{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-hero{
    color: black;
    border-radius: 20px;
    display: grid;
    position: relative;
    height: 80rem;
    width: 390px;
    place-content: center;

    @include desktop{
        width: 80vw;
    }

    .btn-group{
        margin-top: 2rem;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        gap: 2rem;

    }

    button{
        position: absolute;
        font-size: 2.2rem;
        border: none;
        width: 100px;
        height: 60px;
        background-color: rgb(116, 161, 116);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    button:nth-child(1){
        margin-left: -200px;
    }

    button:nth-child(2){
        margin-left: 200px;
    }
    
}

.question{
    font-size: 5.6rem;
    margin: 0 0 2rem 0;
}