@use 'variables/mixins' as *;
@use 'variables/vars' as *;
@forward 'variables/globals';

.firstSection{
        min-height: 42rem;
        max-width: $mw;
        background-color: #fff;
        padding: 10rem;
        }


.fsContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    .picture{
        width: 100%;
        img{
            height: 35rem;
            width: 100%;
            object-fit: cover;
        }
    }
    

}


.fsInfo{

    h1{
        font-size: 6rem;
        margin: 0;
    }

    p{
        font-size: 1.5rem;
    }
}


.moreContent{
    font-size: 1.2rem;
}