@use 'variables/mixins' as *;
@use 'variables/vars' as *;

.firstSection{
        min-height: 42rem;
        max-width: $mw;
        background-color: rgb(116, 161, 116);
        padding: 10rem;
        }


.fsContent{
    @include tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 2rem;
    }
    .picture{
        width: 100%;
        img{
            border: 2px solid black;
            border-radius: 10px;
            height: 35rem;
            width: 100%;
            object-fit: cover;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
    

}


.fsInfo{

    h1{
        font-size: 6rem;
        margin: 0;
        color: rgb(255, 255, 137);
    }

    p{
        font-size: 1.5rem;
        color: white;
    }
}


.moreContent{
    font-size: 1.2rem;
}