@use 'vars' as *;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}


body{
    font-family: $main-font;

}

a, p{
    text-decoration: none;
}

a{
    color: black;
    font-size: 1.5rem;
}

h1 {
    font-size: 1rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 6rem;
    text-align: center;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

section{
    min-width: 100vw;
    max-height: 100vh;
}

body > section {
    padding: 10rem 0;
}